In [1]:
import numpy as np
import pandas as pd
heroes_information = pd.read_csv("heroes_information.csv")

In [2]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
from pandasql import *

In [3]:
####para enlistar los documentos en el directorio#####
os.listdir()

['SQL Competition.ipynb', 'heroes_information.csv', '.ipynb_checkpoints']

In [4]:
pysqldf = lambda q: sqldf(q,globals())

In [5]:
query2 = " SELECT * FROM heroes_information limit 10"

In [6]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [7]:
query1 = """
SELECT *
FROM heroes_information
WHERE Gender = "Male" ;


"""

In [8]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
500,727,Yellow Claw,Male,blue,None,No Hair,188.0,Marvel Comics,None,bad,95.0
501,728,Yellowjacket,Male,blue,Human,Blond,183.0,Marvel Comics,None,good,83.0
502,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
503,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
504,733,Zoom,Male,red,None,Brown,185.0,DC Comics,None,bad,81.0

In [20]:
pregunta1 = """
SELECT name
FROM heroes_information
LIMIT 1;

"""

In [21]:
pysqldf(pregunta1)

     name
0  A-Bomb

In [40]:
pregunta2 = '''
SELECT COUNT (DISTINCT Publisher)
FROM heroes_information;

'''

In [41]:
pysqldf(pregunta2)

   COUNT (DISTINCT Publisher)
0                          24

In [46]:
pregunta3 = """
SELECT COUNT (Height)
FROM heroes_information
WHERE (Height > 200);
"""

In [47]:
pysqldf(pregunta3)

   COUNT (Height)
0              59

In [50]:
pregunta4 = """
SELECT COUNT (Height and race)
FROM heroes_information
WHERE (Height > 200) AND (race = 'Human');
"""

In [51]:
pysqldf(pregunta4)

   COUNT (Height and race)
0                       12

In [57]:
pregunta5 = """
SELECT COUNT (Weight)
FROM heroes_information
WHERE Weight > 100 and  Weight < 200;
"""

In [58]:
pysqldf(pregunta5)

   COUNT (Weight)
0              98

In [93]:
pregunta6 = """
SELECT COUNT ([Eye color])
FROM heroes_information
WHERE [Eye color] = 'red' or [Eye color] = 'blue';
"""

In [94]:
pysqldf(pregunta6)

   COUNT ([Eye color])
0                  271

In [ ]:
Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro

In [103]:
pregunta7 = """
SELECT COUNT (Race and [Hair color])
FROM heroes_information
WHERE Race = 'Human' and [Hair color] = 'Green' 
OR Race = 'Mutant' and [Hair color] = 'Green'
OR Race = 'Vampire' and [Hair color] = 'Black';
"""

In [104]:
pysqldf(pregunta7)

   COUNT (Race and [Hair color])
0                              5

In [ ]:
Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?

In [111]:
pregunta8 = """
SELECT (name)
FROM heroes_information
ORDER BY Race DESC
LIMIT 1;
"""

In [112]:
pysqldf(pregunta8)

             name
0  Solomon Grundy

In [ ]:
Cuántos superhéroes son de género masculino y cuántas de género femenino?

In [137]:

pregunta9 = """
SELECT COUNT (Gender)
FROM heroes_information
WHERE  Gender = 'Male';


"""
pregunta91 = """
SELECT COUNT (Gender)
FROM heroes_information
WHERE  Gender = 'Female';
"""

In [138]:
pysqldf(pregunta9)
pysqldf(pregunta91)

   COUNT (Gender)
0             200